<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Logs</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <!--/*/ <th:block th:include="fragments.html :: headerfiles"></th:block> /*/-->
    </head>
    <body>
        <nav th:insert="fragments.html :: pages-nav"></nav>
        <div style="display: flex; flex-direction: column; width:80%; margin: auto">
            <h1>Logs</h1>
            <a th:href="@{/log/request-access}">Request Access to Website Log</a>
            <a th:href="@{/log/enter-factors}">Enter Access Codes for Website Log</a>
            <a th:href="@{/log/personal}">View Your Log</a>
        </div>
        <div th:insert="fragments.html :: end"></div>
    </body>
</html>
