<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="${title}"></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <!--/*/ <th:block th:include="fragments.html :: headerfiles"></th:block> /*/-->
    </head>
    <body>
        <nav th:insert="fragments.html :: pages-nav"></nav>
        <div style="width: 80%; margin: auto">
            <p style="background-color: white; word-wrap: break-word; white-space: pre-wrap" th:text="${text}"></p>
        </div>
        <div th:insert="fragments.html :: end"></div>
    </body>
</html>
