<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sign Up For an Account</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!--/*/ <th:block th:include="fragments.html :: headerfiles"></th:block> /*/-->
</head>
<body>
<nav th:insert="fragments.html :: pages-nav"></nav>
<div class="container">
    <div class="mdl-typography--text-center">
        <h2>Sign Up</h2>
        <p></p>
    </div>

    <div>
        <form th:action="@{/register}" enctype="multipart/form-data" th:object="${formResponse}" method="post">
            <input name="firstName" type="text" placeholder="Your first name">
            <input name="lastName" type="text" placeholder="Your last name">
            <input name="username" type="text" placeholder="Your username">
            <input name="email" type="text" placeholder="Your email">
            <p><span><input type="checkbox"></span>I agree to the terms of service</p>
        </form>
    </div>


</div>


</form>
<div th:insert="fragments.html :: end"></div>
</body>
</html>
