<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Message Sent</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <!--/*/ <th:block th:include="fragments.html :: headerfiles"></th:block> /*/-->
</head>
<body>
<nav th:insert="fragments.html :: pages-nav"></nav>
  <div class="container">

    <div class="text-center">
      <h2>Contact Us</h2>
      <p>Thank you for contacting us. We'll get back to you shortly!</p>
    </div>

  </div>


<div th:insert="fragments.html :: end"></div>
</body>
</html>