<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum scale=1.0" >
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <title>Sign Up - Precious Photography </title>
  <!--/*/ <th:block th:include="fragments.html :: headerfiles"></th:block> /*/-->
</head>
<body>
<div class="container-fluid text-center">


  <header class="bp-header cf">
    <h1 class="bp-header__title">Precious Photography</h1>
  </header>
  <!-- <img src="../static/images/loginIcon.png.png" th:src="@{/images/loginIcon.png}" width="320" /> -->
  <div th:if="${param.error}">
    <p class="text-danger">Invalid username or password</p>
  </div>
  <form th:action="@{/api/registration/submit}" method="post" style="max-height: 400px; max-width: 360px; margin: 0 auto;">
    <div class="border border-secondary p-3 rounded">
      <p>Create An Account</p>
      <p>
        <input type="text" name="firstName" class="form-control" placeholder="Your first name" required autofocus/>
      </p>
      <p>
        <input type="text" name="lastName" class="form-control" placeholder="Your last name" required autofocus/>
      </p>
      <p>
        <input type="text" name="username" class="form-control" placeholder="Create a username" required autofocus/>
      </p>
      <p>
        <input type="password" name="password" class="form-control" placeholder="Create a password" required />
      </p>
      <p>
        <input type="email" name="email" class="form-control" placeholder="Your E-mail" required autofocus />
      </p>

      <p>
        <input type = "submit" value="Create Account" class="btn btn-primary " />
      </p>Already have an account? Sign in</p>
      <p><a href="/login">Create new account</a> </p>
      <div>
        <a class="link link--social link--faded" href="#"><i class="fa fa-twitter"></i><span class="text-hidden">Twitter</span></a>
        <a class="link link--social link--faded" href="#"><i class="fa fa-linkedin"></i><span class="text-hidden">LinkedIn</span></a>
        <a class="link link--social link--faded" href="#"><i class="fa fa-facebook"></i><span class="text-hidden">Facebook</span></a>
        <a class="link link--social link--faded" href="#"><i class="fa fa-youtube-play"></i><span class="text-hidden">YouTube</span></a>
      </div>
    </div>
  </form>
</div>

</body>

</html>