<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Search Results</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <!--/*/ <th:block th:include="fragments.html :: headerfiles"></th:block> /*/-->
    </head>
    <body>
        <nav th:insert="fragments.html :: pages-nav"></nav>
        
        <div style="display: flex; flex-direction: column; justify-content: center; align-items: center">
            <div th:each="result : ${found}">
                <a th:href="@{${result}}" th:text="${result}"></a>
            </div>
        </div>
        
        <div th:insert="fragments.html :: end"></div>
    </body>
</html>
