<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Sign Up</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <!--/*/ <th:block th:include="fragments.html :: headerfiles"></th:block> /*/-->
</head>
<body>
<nav th:insert="fragments.html :: pages-nav"></nav>

  <div class="container text-center">
    <div>
      <h1>User Registration - Sign Up</h1>
    </div>

    <form th:action="@{/process_register}" method="post" th:object="${user}">
      <div>
        <div class="form-group row">
          <label>Email</label>
          <input type="email" />
        </div>
      </div>
    </form>

  </div>








</form>
<div th:insert="fragments.html :: end"></div>
</body>
