<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>View Photograph</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!--/*/ <th:block th:include="fragments.html :: headerfiles"></th:block> /*/-->
</head>
<body>
    <nav th:insert="fragments.html :: pages-nav"></nav>
    <div th:object="${photo}">
        <h1 th:text="*{name}"></h1>
        <img th:src="@{'/photo?id=' + *{id}}"/>
        <p th:text="*{description}"></p>
        <!--<p th:text="${#numbers.formatCurrency(*{price})}"-->
        <h2>Seller</h2>
        <a th:href="@{'/api/findUser?userID=' + *{ownerId}}" th:text="${sellerName}"></a>
        <h2>Categories</h2>
        <ul>
            <li th:each="catName : ${categoryNames}">
                <p th:text="${catName}"><p/>
            </li>
        </ul>
        <a th:href="@{'reviews/newPhotoReview?id=' + *{id}}">Review this Photograph</a>
        <h2>Reviews</h2>
        <ul>
            <li th:each="review : ${reviews}">
                <div th:replace="fragments.html :: reviewWidget(reviewerName=${review.reviewerName}, text=${review.reviewText}, rating=${review.rating})"></div>
            </li>
        </ul>
    </div>
    
    <div th:insert="fragments.html :: end"></div>
</body>
</html>