<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="${seller.username + '\'s Profile'}"></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <!--/*/ <th:block th:include="fragments.html :: headerfiles"></th:block> /*/-->
    </head>
    <body>
        <nav th:insert="fragments.html :: pages-nav"></nav>
        
        <div th:object="${seller}" style="display: flex; flex-direction: column; align-content:center; justify-content: space-around; align-items:stretch; width:80%; margin:auto">
            <h1 th:text="*{username}"></h1>
            <img th:src="@{'/seller/profilePicture?id=' + *{id}}" alt="The seller's profile picture"/>
            <div>
                <p th:text="*{description}"></p>
            </div>
            <h2>Recent Uploads</h2>
            <div th:each="photo : ${photos}" style="display: inline-block">
                <div th:replace="fragments.html :: browsePhotoWidget(widgetInfo=${photo})" class="align-self-center"></div>
            </div>
        </div>
        
        <div th:insert="fragments.html :: end"></div>
    </body>
</html>
